@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.container {
  width: 99vw;
  height: 965px;
  background-color: #0e1a29;
  display: flex;
  justify-content: center;
  /* background-color: #edf2f8; */
}
.inner-container {
  width: 90%;
  height: 930px;
  display: flex;
  justify-content: center;
  background-color: #1a293b;
}
.panel {
  width: 1100px;
  height: 580px;
  margin-top: 80px;
  border: 2px red solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.left-cards {
  height: 580px;
  width: 820px;
  border: 2px red solid;
}
.right-cards {
  height: 580px;
  width: 270px;
  border: 2px red solid;
  border-radius: 10px;
  background-color: #fff;
}
.up-cards {
  width: 820px;
  height: 290px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.purple-card {
  width: 530px;
  height: 290px;
  border: 2px red solid;
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
}
.grey-card {
  width: 230px;
  height: 290px;
  border: 2px red solid;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
}
.down-cards {
  width: 820px;
  height: 290px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.white-card {
  width: 230px;
  height: 290px;
  border: 2px red solid;
  border-radius: 10px;
  background-color: #fff;
}
.black-card {
  width: 530px;
  height: 290px;
  border: 2px red solid;
  background-color: hsl(219, 29%, 14%);
  border-radius: 10px;
}

.image {
  border-radius: 50%;
  padding: 20px;
  width: 80px;
}
.header-card {
  display: flex;
}

.name-info {
  padding-top: 23px;
}
.name {
  color: white;
  font-size: 13px;
  padding-bottom: 5px;
}
.verified {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
  font-size: 13px;
}
.topic-card {
  padding-left: 20px;
  color: hsl(210, 46%, 95%);
}

p {
  padding: 20px;
  font-size: 13px;
  color: hsl(0, 0%, 81%);
  letter-spacing: 0.5px;
}
.topic-card-black {
  color: black;
  opacity: 0.7;
}

.p-black {
  color: black;
  opacity: 0.7;
}
.p-black-name {
  color: black;
  opacity: 0.9;
}
.p-black-verified {
  color: black;
  opacity: 0.5;
  font-size: 12px;
}

@media screen and (max-width: 1229px) {
  .right-cards {
    height: 250px;
    width: 790px;
    border: 2px red solid;
    border-radius: 10px;
    background-color: #fff;
  }
}
