@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.container {
  width: 99vw;
  height: 965px;
  background-color: #0e1a29;
  display: flex;
  justify-content: center;
  /* background-color: #edf2f8; */
}
.inner-container {
  width: 90%;
  height: 930px;
  display: flex;
  justify-content: center;
  background-color: #1a293b;
}
.panel {
  width: 1100px;
  height: 580px;
  margin-top: 180px;
  border: 2px red solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.left-cards {
  height: 580px;
  width: 820px;
  border: 2px red solid;
}
.right-cards {
  height: 580px;
  width: 270px;
  border: 2px red solid;
}
.up-cards {
  width: 820px;
  height: 290px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.purple-card {
  width: 530px;
  height: 290px;
  border: 2px red solid;
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
}
.grey-card {
  width: 230px;
  height: 290px;
  border: 2px red solid;
}
.down-cards {
  width: 820px;
  height: 290px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.white-card {
  width: 230px;
  height: 290px;
  border: 2px red solid;
}
.black-card {
  width: 530px;
  height: 290px;
  border: 2px red solid;
}
.image {
  border-radius: 50%;
  padding: 20px;
  width: 80px;
}
.header-card {
  display: flex;
}

.name-info {
  padding-top: 23px;
}
.name {
  color: white;
  font-size: 13px;
  padding-bottom: 5px;
}
.verified {
  color: white;
  opacity: 0.5;
  font-size: 13px;
}
.topic-card {
  padding-left: 20px;
}
